<app-card variant="secondary" class="form-busca">
    <form>
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipos de passagem">
                <mat-button-toggle>
                    <mat-icon>check</mat-icon>
                    IDA E VOLTA
                </mat-button-toggle>
                <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option selected>1 Adulto</mat-chip-option>
                <mat-chip-option>Economica</mat-chip-option>
            </mat-chip-listbox>
        </div>
        <div class="flex-container">
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Origem</mat-label>
                <input matInput placeholder="Origem">
                <mat-icon matSuffix>search</mat-icon>
                <mat-icon matPrefix>flight_takeoff</mat-icon> <!--adiciona link no começo-->
            </mat-form-field>
            <button mat-icon-button aria-label="change icon">
                <mat-icon>sync_alt</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Destino</mat-label>
                <input matInput placeholder="Destino">
                <mat-icon matSuffix>search</mat-icon>
                <mat-icon matPrefix>flight_land</mat-icon> <!--adiciona link no começo-->
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Data de ida</mat-label>
                <input matInput [matDatepicker]="ida" placeholder="selecione">
                <mat-datepicker-toggle matIconSuffix [for]="ida"></mat-datepicker-toggle>
                <mat-datepicker #ida></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Data de volta</mat-label>
                <input matInput [matDatepicker]="volta" placeholder="selecione">
                <mat-datepicker-toggle matIconSuffix [for]="volta"></mat-datepicker-toggle>
                <mat-datepicker #volta></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary">Buscar</button>
        </div>
    </form>
</app-card>