<footer>
    <div class="coluna">
        <img src="assets/imagens/logo-com-tagline.png" alt="logo com tagline" class="logo">
        <p>Horário de atendimento: 08 - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Alura. Projeto Ficticio sem fins comerciais.</p>
    </div>
    <div class="coluna">
        <p>Acesse nossas redes:</p>
        <!--<mat-icon svgIcon="whatsapp"></mat-icon> -->
        <div class="icones">
            <img src="assets/icones/whatsapp.png" alt="icone whatsapp" class="icone">
            <img src="assets/icones/instagram.png" alt="icone insta" class="icone">
            <img src="assets/icones/twitter.png" alt="icone twitter" class="icone">
        </div>
    </div>
</footer>