<app-banner src="assets/imagens/banner-homepage.png" alt="banner da aplicação"></app-banner>
<app-container>
    <h2>Promoções</h2>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
        <app-card-busca *ngFor="let promocao of listaPromocao" [promocao]="promocao"></app-card-busca>       
    </div>
    <h2>Depoimentos</h2>
<!-- src/app/pages/home/depoimentos/depoimentos.component.html -->
    <div class="card-wrapper">
        <app-card-depoimento  *ngFor="let item of depoimentos" [depoimento]="item" />
    </div>

</app-container>
<app-banner src="assets/imagens/banner-homepage-rodape.png" alt="banner do rodapé aplicação"></app-banner>
<app-footer></app-footer>