<app-banner src="assets/imagens/banner-homepage.png" alt="banner da aplicação"></app-banner>
<app-container>
    <h2>Promoções</h2>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
        <app-card-busca *ngFor="let promocao of listaPromocao" [promocao]="promocao"></app-card-busca>       
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-depoimento depoimento="Recomendo fortemente a agência de viagens Jornada.
        Eles oferecem um serviço personalizado e de alta qualidade
        que excedeu minhas expectativas em minha última viagem." autor="Gabriel Lopes"></app-card-depoimento>
        <app-card-depoimento depoimento="Recomendo fortemente a agência de viagens Jornada.
        Eles oferecem um serviço personalizado e de alta qualidade
        que excedeu minhas expectativas em minha última viagem." autor="Gabriel Lopes"></app-card-depoimento>
        <app-card-depoimento depoimento="Recomendo fortemente a agência de viagens Jornada.
        Eles oferecem um serviço personalizado e de alta qualidade
        que excedeu minhas expectativas em minha última viagem." autor="Gabriel Lopes"></app-card-depoimento>
    </div>
</app-container>
<app-banner src="assets/imagens/banner-homepage-rodape.png" alt="banner do rodapé aplicação"></app-banner>
<app-footer></app-footer>